<div class="container">
  <div class="row">
    <span class="fontStyle">
      <h1 id="fontWidth">{{title}}</h1>
    </span>
    <span class="loginButton">
      <a routerLink="/login">Login</a>
    </span>
  </div>
  <button class="btn btn-primary" (click)="sortByReleaseDate()">Sort By Release Date</button>
  <button class="btn btn-primary indentStyle" (click)="sortByRating()">Sort By Rating </button >
  <button class="btn btn-primary indentStyle" (click)="sortByName()">Sort By Name </button >
  
</div>
<router-outlet></router-outlet>